.detail {
  display: flex;
  flex-direction: row;
  gap: 13px;
}
.leftSide {
  width: fit-content;
}
.leftSide > img {
  max-width: 100%;
  width: 500px;
  height: 500px;
  border-radius: 15px;
}
.rightSide {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
}
.inf {
  display: flex;
  flex-direction: row;
  gap: 15px;
  flex-wrap: wrap;
}
.genres {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #e4d804;
}
.subInf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  color: #e3dfdf;
  gap: 5px;
  font-weight: bold;
  font-size: 15px;
}
.overview {
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;

  color: #bcbcb3;
  font-size: larger;
  font-weight: 500;
}
.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #242c38;
  border-radius: 5px;
  padding: 20px;
}

.watch {
  display: flex;
  align-items: center;
  color: #e3dfdf;
  border: 2px solid #e4d804;
  border-radius: 25px;
  width: fit-content;
  padding: 5px 10px 5px 10px;
}
.watch:hover {
  background-color: #e4d804;
  color: #242c38;
}
.watch > Button:hover {
  color: #242c38;
}
@media (max-width: 550px) {
  .detail {
    display: flex;
    flex-direction: column;
  }
  .rightSide {
    gap: 15px;
    width: auto;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .title > h1 {
    margin: 0;
    padding-bottom: 5px;
  }
  .genres {
    gap: 0;
    max-width: 400px;
    flex-wrap: wrap;
  }
  .overview {
    height: 100%;
  }

  .inf {
    display: flex;
    flex-direction: column;
  }
  .subInfo {
    font-weight: bold;
    font-size: 15px;
  }
  .options {
    margin-top: 5px;
    gap: 4px;
  }
}
